<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Manager</title>
    <meta charset="UTF-8">
    <meta name="description" content="Manage your Projects">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://umes.mb.ca/sites/default/files/Red%20Lion.png">

    <!-- Import Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Import Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-image: url("https://umes.mb.ca/sites/default/files/Red%20Lion.png");
            background-size: 452px 360px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: antiquewhite;
        }
    </style>
</head>
<body>


<main class="row-featurette container">
    <div class="container row featurette text-center" style="height: 10vh; padding: 20px 20px;">
        <h1 class="text-center">UMEC 2022 Project Manager</h1>
    </div>

    <hr class="featurette-dividor"></hr>

    <div class="row featurette">
        <form>
            <div class="form-group" style="height: 20vh;">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter Project Name">
            </div>

            <div class="form-group">
                <button id="add" class="btn btn-primary">Add Step</button>
                <button id="remove" class="btn btn-primary">Remove Step</button>
            

                <ul id="stepList">
                    <li>
                        <input type="text" class="form-control" id="projectName" placeholder="Step Name">
                    </li>
                    <li>
                        <input type="text" class="form-control" id="projectName" placeholder="Step Name">
                    </li>
                    <li>
                        <input type="text" class="form-control" id="projectName" placeholder="Step Name">
                    </li>
                </ul>
            </div>

            <form>
                <button type="submit" class="btn btn-primary">Create Project</button>
            </form>
            <!-- <button id='test-py' pys-onclick="" type="button">print py</button> -->
        </form>
    </div>

    
    <hr class="featurette-dividor"></hr>

    <footer class="text-center">
        Project Manager by Abraham Ahmed and Connor Pagtakhan for UMEC 2022
    </footer>

<script>
    document.getElementById('remove').addEventListener('click', removeItem);
    function removeItem() {
        var list = document.getElementById('stepList')
        var listItems = list.getElementsByTagName('li');

        var last = listItems[listItems.length - 1]
        list.removeChild(last);
    }
    
</script>
</main>
</body>
</html>